export enum ActionTypes {
    {{ actionNameUpperUnderscore }} = '{{ actionNameUpperUnderscore }}'
}

export const {{ actionNameLowerCamelCase }} = (id: number) => ({
    type: ActionTypes.{{ actionNameUpperUnderscore }},
    payload: id,
});


export type {{ actionNameUpperCamelCase }} = typeof {{ actionNameLowerCamelCase }};