import {{modelName}}Service from "../services/{{modelName}}Service";

export enum {{modelName}}ActionsTypes {
  FETCH_{{modelNameCapital}} = 'FETCH_{{modelNameCapital}}'
}

export const fetch{{modelName}} = (id: number) => ({
  type: {{ modelName }}ActionsTypes.FETCH_{{modelNameCapital}},
  payload: {{ modelName }}Service.fetch{{ modelName }}(id),
});


export type Fetch{{modelName}}Action = typeof fetch{{modelName}};
export type {{modelName}}Action = Fetch{{modelName}}Action;
