import axios, {AxiosResponse} from 'axios';
import {{ modelName }} from "../models/{{ modelName }}";

class {{ modelName }}Service {
  public static fetch{{modelName}}(id: number): Promise<{{ modelName }}> {
      return axios
        .get(`https://jsonplaceholder.typicode.com/todos/${id}`)
        .then((res: AxiosResponse) => res.data as {{ modelName }})
      }
}

export default {{ modelName }}Service;
