import {{ modelName }} from '../models/{{ modelName }}'

export default interface {{ modelName }}State {
  {{ modelNameLower }}?: {{ modelName }} | Promise<{{ modelName }}>;
  loading: boolean;
  isFulfilled: boolean;
  isRejected: boolean;
}
